* { 
  box-sizing: border-box; 
}

.container{ 
	max-width: 965px;

 }

 body { 
    background-color: #d5e6ee ;
	background-image: url(../images/background.jpg);
	background-attachment: fixed;
	background-position: center top; 
	background-repeat: no-repeat;
  }


.header { 
	text-align: center;
	font-family: 'Arapey', serif;
	margin-bottom: 50px;
 }


.start-button { 
	text-align: center;
	height: 75px; 
	width: 200px; 
	font-family: 'Arapey', serif;
	background-color: #fcd720;
	color: red;
	font-size: 40px;
	margin-bottom: 20px;	
	margin-top: 50px;
  }

.start { 
	text-align: center;

 }


.row { 
	align-content: center;
 }


.question { 
	margin-bottom: 30px;
	border-color: red;
 	border-style: solid;
	border-width: 1px 1px 1px 1px;
	height: 100px; 
	margin-bottom: 20px;
	text-align: center;
 }

 .timer { 
	font-size: 40px;
	color: red;
	text-align: center;
	font-family: 'Arapey', serif;
  }

